html, body {
	background-color: $color_white;
}
html {
	-webkit-text-size-adjust: 100%;
}
body {
	min-height: 90vh;
}
.site-main {
	position: relative;
	overflow: hidden;
}
.wrapper {
	max-width: $site_width;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
}
.column-container {
	display: flex;

	.column {
		flex-grow: 1;
		flex-basis: 25%;
	}
}
.site-main .wrapper {
	h1, h2, h3 {
        color: $color_dark_purple;
    }
}
.remove-space {
	margin-bottom: 0!important;
	padding-bottom: 0!important;
}
.remove-space-up {
	margin-top: 0!important;
	padding-top: 0!important;
}
