/*******************
* Contact
*******************/
.cta-button.-form{
    padding: 0;
    
    input {
        border: 0;
        background: transparent;
        padding: 1em 1.5em;
        font-size: 1em;
        color: $color_white;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.site-main .wpcf7 {
    form {
        padding-top: 3.7em;
    }
    input[type="text"], input[type="email"], input[type="tel"], input[type="number"], textarea {
        padding: 0.8em;
    }
    .input-wrap {
        position: relative;
        margin-bottom: 1.5em;
    }
    label {
        background-color: white;
        display: inline-block;
        padding: 0 0.4em;
        pointer-events: none;
        position: absolute;
        top: 0.7em;
        left: 0.6em;
        font-size: 1.1em;
        font-weight: 500;
        transition: .25s all ease;

        em {
            color: $color_error;
        }
    }
    .wpcf7-response-output {
        color: $color_error;
        background-color: #cfcfcf;
        box-shadow: 2px 4px 9px -4px black;
        margin-top: 1.5em;
        
        &:not(:empty){
            padding: 1.1em;
        }
    }
}
.wpcf7-not-valid-tip {
    color: $color_error;
    font-size: .9em;
    font-style: italic;
}


/*******************
* Sitemap
*******************/
.sitemap-module {
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;

    .column {
        max-width: 240px;
        width: 100%;

        ul {
            padding-left: 1.4em;
        }
        li {
            margin-bottom: 0.4em;
        }
        a {
            line-height: 1.4em;
            @include link_draw_line();
        }
    }
}
