/**
 * SIZES 
**/
$site_width:		100.571em;
$spacing_line:		2em;
$spacing_section:	4em;
$base_font_size:	1em;


/**
 * COLORS
**/
$color_error: #DB2525;
$color_success: #0b881c;

$color_white: #fff;
$color_black: #000;

$color_gray_1: #C4C4C4;

$color_purple: #3E267B;     // Primary
$color_dark_purple: #291B4B;

$color_pink: #e31c79;       // CTAs

/**
 * Files Paths
**/
// Ex: #{$font_path}
$image_path: '../../dist/images/';
$font_path: '../../fonts/';


/**
 * TYPOGRAPHY
**/
$sans:				"Roboto", Helvetica, Arial, sans-serif;

$font_heading:		$sans;
$font_body:			$sans;


/**
 * SOCIAL COLORS
**/
$twitter:			#55acee;
$facebook: 			#2D88FF;
$linkedin:			#007bb5;
$google:			#dd4b39;
$youtube:			#ff0000;
$pinterest: 		#cb2027;
$tumblr:			#32506d;
$flickr:			#ff0084;
$instagram:			#e95950;
$vimeo:				#aad450;
$foursquare: 		#0072b1;
$rss:				#ff6600;
