/********************************************************
 * Strip Browsers of Specific Form Styles
********************************************************/
::-webkit-input-placeholder {
	color: inherit;
}
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input::placeholder {
    opacity: 1;
	font-style: italic;
}
:focus::placeholder {
	color: transparent;
}
::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
::-moz-ui-invalid {
	box-shadow: none;
}
::-ms-expand {
	display: none;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	text-transform: none;
}
input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		-webkit-appearance: none;
  		-moz-appearance: none;
	}
}
::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}
::-webkit-color-swatch-wrapper {
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}


/********************************************************
 * Generic Form Styles
********************************************************/
input:focus, textarea:focus {
	outline-width: 2px;
	outline-style: solid;
	outline-color: Highlight;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
textarea, select {
	width: 100%;
	max-width: 100%;
	padding: 0.5em;
	border: 1px solid #BBB;
	border-radius: 0;
	font-size: $base_font_size;
	font-family: Arial, sans-serif;
}
textarea {
	overflow: auto;
	-ms-overflow-style: scrollbar;
	resize: vertical;
	vertical-align: top;
	min-height: 5em;
	max-height: 15em;
}
input[type="submit"],
input[type="reset"],
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}
form {
	margin: 0;
	font-size: 1em;
	font-family: inherit;
}
fieldset {
	min-width: 0;
}
legend {
	display: table;
	width: 100%;
	white-space: normal;
	padding: 0;
}
label[for] {
	cursor: pointer;
}
.wpcf7-form{
	.two-col {
		display: flex;
		
		.input-wrap {
			width: 50%;
			
			&:first-of-type{
				margin-right: 1.1em;
			}
		}
	}
}
.input-wrap {
	&.height-fix {
		line-height: 0;

		label, button, 
		input[type="submit"],
		input[type="reset"],
		.wpcf7-not-valid-tip {
			line-height: normal;
		}
	}
	&.center {
		display: flex;
		justify-content: center;
	}
}


/********************************************************
 * Contact Form 7
********************************************************/
.wpcf7 {
    .screen-reader-response {
        @include sr-only;
    }
}
