/********************************************************
 * Draw Line Animation
********************************************************/
@mixin link_draw_line( $color: $color_pink ){
    position: relative;
    display: inline-block;

    &:before {
        content: '';
        border-bottom-width: 2px;
        border-bottom-style: solid;
        width: 0;
        transition: width .5s ease;
        position: absolute;
        bottom: -1px;
    }
    &:hover {
        color: $color;

        &:before {
            border-bottom-color: $color;
            width: 100%;
        }
    }
}

/********************************************************
 * Zoom In Animation
********************************************************/
// animation-name: zoomIn;
// animation-duration: 2.5s;
@keyframes zoomIn {
    0% {
        transform: translateY(-50%) scale(0);
    }
    100% {
        transform: translateY(-50%) scale(1);
    }
}
