/**
 * NOTE: This isn't actually loaded by theme.scss
 * Its actually inlined in the primary header.php
**/
#preload-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5000;
    background-color: #2f2f2f;
}
#preload-container .loader-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ************************ */
#preload-container .loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    background: #e31c79;
    box-sizing: border-box;
    animation: flipX 1s linear infinite;
}
@keyframes flipX {
    0% {
        transform: perspective(200px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
        transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
    }
}
